<div class="container">
    <h1>{{course.title}}</h1>
    <br>
    <div>
        <div class="form-group">
            <label for="title">Преподавател:</label>
            <input name="course" readonly type="text" class="form-control" id="course" value="{{course.lecturer}}">
        </div>
    </div>
    <div>
        <div>
            <div>
                <div class="form-group">
                    <label for="title">Семестър:</label>
                    <input name="course" readonly type="text" class="form-control" id="course"
                        value="{{course.semester}}">
                </div>



            </div>
        </div>
        <form>
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <div class="form-group">
                        <label for="startDate">Начало на курса:</label><br>

                        <input type="date" id="startDate" name="startDate" value="{{course.startDate}}" min="2020-01-01"
                            max="2030-12-31" readonly>

                    </div>
                </div>
                <div class="col-sm-1"> </div>
                <div class="col-sm-3 my-1">
                    <div class="form-group">
                        <label for="endDate">Край на курса:</label><br>

                        <input type="date" id="endDate" name="endDate" value="{{course.endDate}}" min="2020-01-01"
                            max="2030-12-31" readonly>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea name="description" type="text" class="form-control" id="description" rows="3"
                    readonly>{{course.description}}</textarea>
            </div>


            {{!-- <div class="float-right">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> бутон в дясно</button>
            </div> --}}
    </div>

    <a class="btn btn-primary" href="/dashboard/courses/" role="button"> <i class="fas fa-backward"></i>
        Назад</a>
</div>