<div class="container">
    <h1>Курсове</h1><br>
    <table class="table table-responsive-xl table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Предмет</th>
                <th scope="col">Преподавател</th>
                <th scope="col">Специалност</th>
                <th scope="col">Семестър</th>
                <th scope="col">Крайна дата</th>
                <th scope="col" colspan="2">Операции</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}

            <tr>
                <th scope="row">{{title}}</th>
                <td>{{lecturer}}</td>
                <td>{{specialty}}</td>
                <td>{{semester}}</td>
                <td>{{endDate}}</td>
                <td><a href="/admin/courses/edit/{{_id}}" class="btn btn-info" title="Редактирай"><i
                            class="far fa-edit"></i> Редактирай</a></td>
                <td><a href="/admin/assignments/create/{{_id}}" class="btn btn-success" title="Нов"><i
                            class="far fa-plus-square"></i></i>
                        Нов Проект</a></td>
            </tr>

            {{/each}}

        </tbody>
    </table>
    <a href="/admin/courses/create"><button class="btn btn-info"><i class="fas fa-plus"></i> Добавяне на
            предмети</button></a>
</div>